In [48]:
#fake add item
import random

items = ['9187786495792','9781186495798','9781786495792','9786161820626']
i = random.randint(0, len(items)-1)
print(i)
with open('data/current_barcode.csv','a') as fd:
    fd.write(items[i]+'\n')

3

In [49]:
#finish
import configparser

def update_status(waiting_amount,finish):
    config = configparser.ConfigParser()
    config.read('data/status.txt')
#     config.add_section('status')
    config.set('status', 'waiting_amount', str(waiting_amount))
    if finish != '':
        config.set('status', 'finish', str(finish))
    with open('data/status.txt', 'w') as configfile:
        config.write(configfile)
        
update_status(0,True)

In [20]:

def read_status():
    parser = configparser.ConfigParser()
    parser.read('data/status.txt')
    finish = parser.get("status", "finish")
    waiting_amount = parser.get("status", "waiting_amount")
    return waiting_amount,finish

read_status()

('75', 'False')

In [24]:
import csv 

def getBarcodeFromCsv(filename):
    file = open(filename)
    csvreader = csv.reader(file)
    rows = []
    for row in csvreader:
        rows.append(row[0])
    file.close()
    f = open(filename, "w")
    f.truncate()
    f.close()
    return rows

current_barcodes = getBarcodeFromCsv('data/current_barcode.csv')
current_barcodes

['9187786495792', '9786161820626', '9786161820626', '9786161820626']

In [25]:
import pandas as pd
df = pd.read_csv('data/products.csv') 
df

         barcode      name  price
0  9187786495792  product1      5
1  9781186495798  product2     10
2  9781786495792  product3     15
3  9786161820626  product4     20

In [26]:
Barcodes = []
for barcode_info in barcodes:
    if str(barcode_info) in str(df['barcode']):
        Barcodes.append(barcode_info)
Barcodes

['9187786495792', '9786161820626', '9786161820626']

In [27]:
def find_product_data(df,barcode):
    for i,b in enumerate(df['barcode']):
        if str(b) == str(barcode):
            return df['name'][i],df['price'][i]
    else:
        return None,None
    
find_product_data(df,'9187786495792')

('product1', 5)

In [28]:
def create_table(df,Barcodes):
    # table = 'Total 9999//aaaaa|12|120/bbbb|1|100/ccccc|12|120/ddddd|1|100'
    df_barcode = []
    for i in set(df['barcode']):
        df_barcode.append(str(i))
    keys = list(set(Barcodes).intersection(set(df_barcode)))  #get barcode key only in database
    
    table = ''
    Total = 0 
    for k in keys:
        barcode = k
        count = Barcodes.count(k)
        name,price = find_product_data(df,barcode)
        total = price*count
        Total += total
        table += f'/{name}|{count}|{total}'
    table += '/||'*(10-len(keys))   #add to 10 lists

    if Total == 0:
       table = 'Total 0//||/||/||/||'
    else:
       table = f'Total {Total}/{table}'

    
    return table

create_table(df,Barcodes)

'Total 45//product4|2|40/product1|1|5/||/||/||/||/||/||/||/||'

In [18]:
import configparser

parser = configparser.ConfigParser()
parser.read('data/status.txt')
# finish = False
finish = parser.get("status", "finish")
finish

'False'

In [19]:
waiting_amount = parser.get("status", "waiting_amount")
waiting_amount

'1.23'

('5.55', 'False')